@model Song

<h2><u>Top Selling Song of All Time</u></h2>

<h3><span class="glyphicon glyphicon-music"></span> Title: <i><b>@Model.Name</b></i></h3>
<h3><span class="glyphicon glyphicon-user"></span> Artist: <i><b>@Model.Artist.Name</b></i></h3>
<h3><span class="glyphicon glyphicon-piggy-bank"></span> Price: <i><b>@Model.Price.ToString("c2")</b></i></h3>
<h3>Total Sales: <i><b>@ViewBag.SaleCount</b></i></h3>
