@model Dictionary<string, int>

<h2>Top Selling Artist</h2>

<h2><span class="glyphicon glyphicon-user"> </span> Artist: <i><b>@ViewBag.ArtistName</b></i> - Total Sales: <b>@ViewBag.TotalSales</b></h2>


<h2><u>Individual Song Sales</u></h2>
<div>
  <ul class="list-unstyled">
    @foreach (var songWithSales in Model)
    {
      <li class="h4"><span class="glyphicon glyphicon-music"> </span> Title: @songWithSales.Key - Total Sales: <b>@songWithSales.Value</b></li>
    }
  </ul>
</div>